.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.ContainerTopic {
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    margin: 20px;
}

.stylesButton {
    display: flex;
    margin-bottom: 10px;
}

.stylesButton > button {
    width: auto;
    margin: 5px;
    padding: 5px 10px;
    background-color: #cd8a3e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containerTable {
    background-color: #ffba4ae9;
    padding: 10px;
    border-radius: 13px;
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    
    font-family: 'Sarabun', sans-serif;
}

.th,
.td {
    padding: 8px;
    border-radius: 2px;
}

.th {
    /* background-color: #cd8a3e; */

    justify-content: center;
    text-align: center;
}

tbody .tr:nth-of-type(odd) {
    background-color: #fff;
    /* สีขาว */
}

/* .tr:hover {
    background-color: #ddd;
} */

.ButtonDelete {
    width: auto;
    
    padding: 5px 10px;
    background-color: #cd8a3e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}