.footer {
    background: #DE7D24;
    height: 80px;
    bottom: 0;
    /* Stick to the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}