.footer {
    background: #DE7D24;
    height: 50px;
    bottom: 0;
    /* Stick to the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    position: sticky;


}

@media screen and (max-width: 800px) {
    .footer {
        background: #DE7D24;
        height: auto;
        bottom: 0;
        /* Stick to the bottom */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;


    }
}